# Main make.inc file
make.inc

# Preprocessed Fortran files
*.pp.f90

# Fortran module files
*.mod

# Object files
*.o

# Built static library
*.a

# Built shared library
*.so

# Built testing routines
tests/test_*.x
